img {
  filter: grayscale(1); 
  transition: filter 0.3s ease-in-out;
}

img:hover {
  filter: grayscale(0); 
}

.portfolio-grid {
  position: relative;
  overflow: hidden;
}

.portfolio-grid::after {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: -1; 
}

.portfolio-grid:hover::after {
  background-color: rgba(255, 0, 0, 0.5);
}

.portfolio-grid img {
  width: 100%;
  height: auto;
  display: block;
}


li {
  filter: grayscale(100%); 
  transition: filter 0.5s; 
}

li:hover {
  filter: grayscale(0%); 
}


